<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<header>
  <div id="logo">communally</div>
  <nav >
    <ul class="links">
      <a routerLink="login" href="/">Login</a>
      <a routerLink="signup" href="/link">Signup</a>
      <a routerLink="timer"  href="/link">Timer</a>

    </ul>
  </nav>
</header>


<router-outlet></router-outlet>
