<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- Toolbar -->
<header>
  <div id="logo">communally</div>
  <nav >
    <ul class="links">
      <a *ngIf="!(isLoggedIn | async)"
         routerLink="login"
         href="/">
        Login</a>

        <a *ngIf="(isLoggedIn | async)"  (click)="userService.logoutUser()"
           routerLink="login" href="/">
          Logout</a>

      <a *ngIf="!(isLoggedIn | async)" routerLink="signup" href="">Signup</a>
      <a routerLink="timer"  href="">Timer</a>

    </ul>
  </nav>
</header>


<router-outlet></router-outlet>
