@import "src/styles.less";

mat-toolbar {
  display: flex;
  background-color: rebeccapurple;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0px;
  color: white;
}

nav {
  display: flex;
  justify-content: space-around;
  margin-right: 48px;
}

header {
  display: flex;
  background-color: rebeccapurple;
  height: 72px;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px 0px;
  color: white;
}

//.example-spacer {
//  flex: 1 1 auto;
//}

.links {
  display: flex;
  width: 300px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: inherit;
}
